extends layout

block main 
  section#categories
    header 
      h1(class='sectionTitle') Categories
      ul(class="sectionActions") 
        li 
          a(href=`/categories/orderby/title`) ORDER BY TITLE
        li 
          a(href="/categories/orderby/amount") ORDER BY AMOUNT
    ul 
      each category in categories
        li(class='categoryPresentation')
          a(href=`/expenses/${category.id}`)
            h2= category.title
            p= category.amount+"€"

block headerLinks
  nav(class="actionMenu")
    a(href="/categories/new") ADD CATEGORY

