doctype html 

html(lang="en-US")

  head 
    title Expense Tracker 
    meta(charset="UTF-8")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/applicationStyles.css")

  body 
    header 
      h1 The Expense Tracker
      block headerLinks

    main 
      block main

    footer