a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: auto;
  color: #3f3f3f;
  font: normal 16px "PT Sans", Helvetica, Arial, sans-serif;
}

body > header {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


body > header h1.logo {
  color: gold;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
}

body > main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}

.sectionTitle {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

form fieldset.actions a {
  color: #666666;

  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
}

main > form,
footer > form {
  margin-top: 1.5rem;
}

form dt {
  padding: 0 0 25px;
}

form dd {
  padding: 0 0 15px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="password"] {
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  height: 58px;
  padding: 15px 20px;
  width: 100%;
}

form input[type="submit"],
form fieldset button {
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: gold;
  border: none;
  border-radius: 8px;
  color: darkgoldenrod;
  font: normal 24px "PT Sans", Helvetica, Arial, sans-serif;
  margin: 30px 40px 0 0;
  padding: 12px 45px;

  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}

form input[type="submit"]:hover {
  background-color: #d13b28;
  cursor: pointer;
}

form fieldset.actions a:hover {
  color: #b00b00;
}

/* Expenses view */
table.expenses {
  width: 75%;
  border: none;
  margin: auto;
  padding: 5px;
}

table.expenses th {
  padding-left: 10px;
  text-align: left;
  text-transform: uppercase;
}

table.expenses tr:first-child th{
  border-bottom: 1px solid gold;
}

table.expenses tr:nth-child(2) td {
  padding-top: 25px;
}

table.expenses td {
  padding-left: 10px;
  font: normal 18px 'Indie Flower', cursive;
}

table.expenses td.rowActions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

table.expenses td.rowActions a img {
  width: 30px;
}

table.expenses td.rowActions form.delete input[type="submit"] {
  border: none;
  background: url("../images/delete.png") no-repeat;
  background-size: contain;
  color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

table.expenses tr td:nth-child(1) {
  width: 55%;
}

nav.actionMenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 40%;
}

nav.actionMenu a {
  width: auto;
}

nav.actionMenu a:hover {
  color: silver;
}

/* Categories view */
ul.sectionActions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 35px;
}

ul.sectionActions li {
  width: 130px;
  text-align: center;
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
}

header ul.sectionActions li:hover {
  border-color: #000000;
  background: #f7f7f7;
}

ul > li.categoryPresentation {
  max-width: 60%;
  margin: auto;
  background-color: rgb(249, 241, 217);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  font: normal 18px 'Indie Flower', cursive;
}

ul > li.categoryPresentation a{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Edition and Deletion */
div.dividedScreen {
  display: flex;
  flex-wrap: nowrap;
}

div.dividedScreen > section {
  width: 50%;
  padding: 25px;
}

#registration {
  border-left: solid 1px lightgray;
}

#deletion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deletion > form > button {
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 200px;

  background-color: #dd5f4f;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font: normal 24px "PT Sans", Helvetica, Arial, sans-serif;
  padding: 12px 45px;

  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}


.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}