a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: auto;
  color: #3f3f3f;
  font: normal 16px "PT Sans", Helvetica, Arial, sans-serif;
}

body > header {
  margin: 20px 50px;
  padding: 20px;
  display: block;
}


body > header h1.logo {
  color: gold;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  width: 60%;
  display: inline-block;
}

body > main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}

form fieldset.actions a {
  color: #666666;

  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
}

main > form,
footer > form {
  margin-top: 1.5rem;
}

form dt {
  padding: 0 0 25px;
}

form dd {
  padding: 0 0 15px;
}

form input[type="text"],
form input[type="password"] {
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  height: 58px;
  padding: 15px 20px;
  width: 100%;
}

form input[type="submit"],
form fieldset button {
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: #dd5f4f;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font: normal 24px "PT Sans", Helvetica, Arial, sans-serif;
  margin: 30px 40px 0 0;
  padding: 12px 45px;

  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}

form input[type="submit"]:hover {
  background-color: #d13b28;
  cursor: pointer;
}

form fieldset.actions a:hover {
  color: #b00b00;
}

table#expenses {
  width: 75%;
  border: none;
  margin: auto;
  padding: 5px;
}

table#expenses th {
  padding-left: 10px;
  text-align: left;
  text-transform: uppercase;
}

table#expenses tr:first-child th{
  border-bottom: 1px solid gold;
}

table#expenses tr:nth-child(2) td {
  padding-top: 25px;
}

table#expenses td {
  padding-left: 10px;
  font: normal 18px 'Indie Flower', cursive;
}

table#expenses tr td:nth-child(1) {
  width: 60%;
}

header ul.categoriesActions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

header ul.categoriesActions li {
  width: 100px;
}